{% extends 'admin.html.twig' %}

{% block title %}Fitsplit index{% endblock %}

{% block body %}
    <h1>Fitsplit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Slogan</th>
                <th>Siret</th>
                <th>Description</th>
                <th>Phone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fitsplit in fitsplits %}
            <tr>
                <td>{{ fitsplit.id }}</td>
                <td>{{ fitsplit.slogan }}</td>
                <td>{{ fitsplit.siret }}</td>
                <td>{{ fitsplit.description }}</td>
                <td>{{ fitsplit.phone }}</td>
                <td>
                    <a href="{{ path('app_admin_fistsplit_show', {'id': fitsplit.id}) }}">show</a>
                    <a href="{{ path('app_admin_fistsplit_edit', {'id': fitsplit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_fistsplit_new') }}">Create new</a>
{% endblock %}
